a{
    text-decoration: none;
    display: inline-block;
}
.body{
    overflow: hidden;
}
/* nav css start */
.manu-bg{
    background-color: rgba(28, 30, 83, 1);
}
.manu-bg ul li{
    padding: 0 30px !important;
}
.manu-bg ul li a{
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.manu-bg ul li a:hover{
    color: greenyellow;
}
.manu1{
    padding: 16px 48px;
    border: 2px solid greenyellow;
    border-radius: 100px;
}
.manu1:hover{
    background-color: rgba(172, 255, 47, 0.589);
} 
.manu1 a{
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'Poppins', sans-serif;
}
/* nav css end */



/* Studious css start */
#Studious{
    background-color: white;
}
.Studious1 h2{
    padding-top: 128px;
    font-size: 48px;
    font-weight: 600;
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.Studious1 p{
    padding-top: 12px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(40, 41, 56, 1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.Studious2 img{
    padding-top: 32px;
    width: 100%;
}
.Studious2{
    text-align: center;
}
.Studious2 p{
    padding-top: 48px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(40, 41, 56, 1);
    font-family: 'Poppins', sans-serif;
    width: 831px;
    margin: 0 auto;
    padding-bottom: 16px;
}
.Studious2 a{
    font-size: 16px;
    font-weight: 400;
    color: rgba(36, 5, 242, 1);
    font-family: 'Poppins', sans-serif;
}




/* Studious css end */



/* elit css start */
#elit{
    background-color: white;
}
.elit1 h2{
    padding-top: 48px;
    font-size: 38px;
    font-weight: 600;
    color: #000;
    font-family: 'Poppins', sans-serif;

}
.elit1 p{
    padding-top: 32px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(40, 41, 56, 1);
    font-family: 'Poppins', sans-serif;
}
.elit1 a{
    color: rgba(36, 5, 242, 1);
}

.elit1 li{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif;
}


/* elit css end */




/* footer css start */
#footer{
    background-color: rgba(28, 30, 83, 1);
    position: relative;
}
.footer1 img{
    padding-top: 100px;
}
.footer1 p{
    padding-top: 22px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 399px;
    padding-bottom: 100px;
}
.footer2{
    padding: 20px 20px;
    background-color: rgba(252, 217, 128, 1);
    position: relative;
    padding-bottom: 100px;
}
.footer2-1{
    position: absolute;
}
.footer2-1 h6{
    padding-top: 18px;
    margin-left: 38px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif;

}
.footer2-1 a{
     color: #000;
    position: absolute;
    margin-left: 38px;
}

.footer2-2{
    position: absolute;
    right: 30px;
    top: 18;
}
.footer2-2 h6{
    padding-top: 18px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.footer2-2 a{
    color: #000;
    
}
.footer3 h4{
    padding-top: 96px;
    font-size: 48px;
    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footer3 p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.footer-icon a{
    color: white;
    padding: 28px 15px;
}

/* footer css end */


/* last css start */
.manu-bg1 ul li{
    padding: 0 20px;
}

.manu-bg1 ul li a{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.manu-bg1 a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

/* last css end */